<section id="section-about" class="section-about">
  <div class="about-me-container">
    <h2 class="visually-hidden">About me</h2>
    <div class="about-me-description">
      <div class="about-me-text-wrapper">
        <p>
          I work with people all over the world to create impressive and
          <span class="accent-color-red">functional</span>
          <span class="accent-color-gray">websites</span> that reflect each
          client's unique personality.
        </p>
      </div>

      <picture
        ><source
          srcset="
            /img/desktop/dev-laptop-dsk.jpg    1x,
            /img/desktop/dev-laptop-dsk@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/tablet/dev-laptop-tb.jpg    1x,
            /img/tablet/dev-laptop-tb@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/mobile/dev-laptop-m.jpg    1x,
            /img/mobile/dev-laptop-m@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="about-img"
          src="/img/mobile/dev-laptop-m.jpg"
          alt="man with laptop"
        />
      </picture>
    </div>
    <div class="about-me-info">
      <ul class="accordeon-list accordion-container">
        <li class="ac">
          <div class="accordeon-title ac-header">
            <h3 class="title-text accent-color-gray">About me</h3>
            <button type="button" class="title-current ac-trigger">
              <svg class="title-icon is-active" width="14" height="12">
                <use href="./img/symbol-defs.svg#icon-Vector-9"></use>
              </svg>
            </button>
          </div>
          <div class="accordeon-content ac-panel">
            <p class="accordeon-content-text">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages and technologies, always ready to
              improve my skills. I always follow the latest trends and look for
              unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </p>
            <p class="accordeon-content-text">
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work. <br />
              I am always looking for opportunities for self-improvement. I
              actively study new technologies and practices to stay abreast of
              the latest innovations. I have a strong understanding of various
              programming languages, frameworks and architectural concepts that
              allow me to create efficient and scalable software.
            </p>
          </div>
        </li>
        <li class="ac">
          <div class="accordeon-title ac-header">
            <h3 class="title-text accent-color-gray">Role</h3>
            <button type="button" class="title-current ac-trigger">
              <svg class="title-icon" width="20" height="20">
                <use href="./img/symbol-defs.svg#icon-icon-v"></use>
              </svg>
            </button>
          </div>
          <div class="accordeon-content ac-panel hidden">
            <ul class="accordeon-content-role-list">
              <li>Frontend development</li>
              <li>HeadlessCMS,Wordpress</li>
              <li>Blender(enjoy)</li>
            </ul>
          </div>
        </li>
        <li class="ac">
          <div class="accordeon-title ac-header">
            <h3 class="title-text accent-color-gray">Education</h3>
            <button type="button" class="title-current ac-trigger">
              <svg class="title-icon" width="20" height="20">
                <use href="./img/symbol-defs.svg#icon-icon-v"></use>
              </svg>
            </button>
          </div>
          <div class="accordeon-content ac-panel hidden">
            <ul class="accordeon-content-education-list">
              <li>
                2018 - 2019 / Frontend Development Diploma, GoIT IT<br />
                School, New York
              </li>
              <li>
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT<br />
                School, New York
              </li>
              <li>
                2020 - 2022 / Advanced Blender Animation Techniques, Udemy
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="about-me-swiper-container">
      <div class="about-me-skills swiper my-thumbs">
        <ul class="swiper-list swiper-wrapper">
          <li class="swiper-slide swiper-content-wrap">
            <p>HTML</p>
          </li>
          <li class="swiper-slide swiper-content-wrap">
            <p>CSS</p>
          </li>
          <li class="swiper-slide swiper-content-wrap">
            <p>JavaScript</p>
          </li>
          <li class="swiper-slide swiper-content-wrap">
            <p>React</p>
          </li>
          <li class="swiper-slide swiper-content-wrap">
            <p>Node.js</p>
          </li>
          <li class="swiper-slide swiper-content-wrap">
            <p>React Native</p>
          </li>
          <li class="swiper-slide swiper-content-wrap">
            <p>Soft skills</p>
          </li>
        </ul>
      </div>
      <button class="swiper-arrow swiper-next" type="button">
        <svg class="swiper-arrow-svg">
          <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
