<section id="container-benefits" class="container container-benefits-section">
  <div class="container-benefits">
    <h3 class="section-name">Benefits of working with me</h3>
    <div class="container-benefits-block">
      <ul class="container-benefits-list">
        <li class="benefits-list">
          <div class="container-benefits-card">
            <svg class="benefits-icon" width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-user"></use>
            </svg>
          </div>
          <h4 class="benefits-name">Expertise</h4>
          <p class="benefits-text">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
        </li>
        <li class="benefits-list">
          <div class="container-benefits-card">
            <svg class="benefits-icon" width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-message-chat-circle"></use>
            </svg>
          </div>
          <h4 class="benefits-name">Communication</h4>
          <p class="benefits-text">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </li>
        <li class="benefits-list">
          <div class="container-benefits-card">
            <svg class="benefits-icon" width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-icon-brush"></use>
            </svg>
          </div>
          <h4 class="benefits-name">Art</h4>
          <p class="benefits-text">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </li>
        <li class="benefits-list">
          <div class="container-benefits-card">
            <svg class="benefits-icon" width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-icon-hourglass"></use>
            </svg>
          </div>
          <h4 class="benefits-name">Urgent execution</h4>
          <p class="benefits-text">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </li>
      </ul>
      <button type="button" class="order">
        <a href="#work-together">Order the project</a>
      </button>
    </div>
  </div>
</section>
