<section class="covers-section section">
  <h2 class="covers-title visually-hidden">Covers section</h2>
  <div class="covers-content content">
    <div class="covers-wrapper">
      <ul class="covers-wrapper-menu">
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-10@2x.jpg"
            src="./img/project/Rectangle-10.jpg"
            alt="Business 'Starlight Studio'"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-6@2x.jpg"
            src="./img/project/Rectangle-6.jpg"
            alt="'Chego' shop"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-7@2x.jpg"
            src="./img/project/Rectangle-7.jpg"
            alt="Healthier lifestyle with support"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-9@2x.jpg"
            src="./img/project/Rectangle-9.jpg"
            alt="Learning English"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-4@2x.jpg"
            src="./img/project/Rectangle-4.jpg"
            alt="Vegetable baskets"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-10@2x.jpg"
            src="./img/project/Rectangle-10.jpg"
            alt="Business 'Starlight Studio'"
          />
        </li>
      </ul>

      <ul class="covers-wrapper-menu">
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-7@2x.jpg"
            src="./img/project/Rectangle-7.jpg"
            alt="Healthier lifestyle with support"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-3@2x.jpg"
            src="./img/project/Rectangle-3.jpg"
            alt="Traditional ukrainian artistry"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-8@2x.jpg"
            src="./img/project/Rectangle-8.jpg"
            alt="Fresh harvest box"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-1@2x.jpg"
            src="./img/project/Rectangle-1.jpg"
            alt="Transformer your body shape with power pulse"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-2@2x.jpg"
            src="./img/project/Rectangle-2.jpg"
            alt="Hotel 'Mimino'"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-9@2x.jpg"
            src="./img/project/Rectangle-9.jpg"
            alt="Learning English"
          />
        </li>
      </ul>

      <ul class="covers-wrapper-menu">
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-2@2x.jpg"
            src="./img/project/Rectangle-2.jpg"
            alt="Hotel 'Mimino'"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-1@2x.jpg"
            src="./img/project/Rectangle-1.jpg"
            alt="Transformer your body shape with power pulse"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-9@2x.jpg"
            src="./img/project/Rectangle-9.jpg"
            alt="Learning English"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-5@2x.jpg"
            src="./img/project/Rectangle-5.jpg"
            alt="Manage your finances masterfully"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-10@2x.jpg"
            src="./img/project/Rectangle-10.jpg"
            alt="Business 'Starlight Studio'"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-3@2x.jpg"
            src="./img/project/Rectangle-3.jpg"
            alt="Traditional ukrainian artistry"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-8@2x.jpg"
            src="./img/project/Rectangle-8.jpg"
            alt="Fresh harvest box"
          />
        </li>
      </ul>

      <ul class="covers-wrapper-menu">
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-4@2x.jpg"
            src="./img/project/Rectangle-4.jpg"
            alt="Vegetable baskets"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-7@2x.jpg"
            src="./img/project/Rectangle-7.jpg"
            alt="Healthier lifestyle with support"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-6@2x.jpg"
            src="./img/project/Rectangle-6.jpg"
            alt="'Chego' shop"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-2@2x.jpg"
            src="./img/project/Rectangle-2.jpg"
            alt="Hotel 'Mimino'"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-4@2x.jpg"
            src="./img/project/Rectangle-4.jpg"
            alt="Vegetable baskets"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-7@2x.jpg"
            src="./img/project/Rectangle-7.jpg"
            alt="Healthier lifestyle with support"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-8@2x.jpg"
            src="./img/project/Rectangle-8.jpg"
            alt="Fresh harvest box"
          />
        </li>
      </ul>

      <ul class="covers-wrapper-menu">
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-3@2x.jpg"
            src="./img/project/Rectangle-3.jpg"
            alt="Traditional ukrainian artistry"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-5@2x.jpg"
            src="./img/project/Rectangle-5.jpg"
            alt="Manage your finances masterfully"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-8@2x.jpg"
            src="./img/project/Rectangle-8.jpg"
            alt="Fresh harvest box"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-10@2x.jpg"
            src="./img/project/Rectangle-10.jpg"
            alt="Business 'Starlight Studio'"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-9@2x.jpg"
            src="./img/project/Rectangle-9.jpg"
            alt="Learning English"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-4@2x.jpg"
            src="./img/project/Rectangle-4.jpg"
            alt="Vegetable baskets"
          />
        </li>
        <li class="covers-wrapper-menu-list">
          <img
            class="covers-img"
            srcset="./img/project/Rectangle-8@2x.jpg"
            src="./img/project/Rectangle-8.jpg"
            alt="Fresh harvest box"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
