<footer class="footer-container-section" id="work-together">
  <div class="footer-container">
    <picture class="footer-logo">
      <source
        srcset="
          /img/dev-lloyd/dev-lloyd-dsk.png    1x,
          /img/dev-lloyd/dev-lloyd-dsk@2x.png 2x
        "
        media="(min-width:1400px)"
      />
      <source
        srcset="
          /img/dev-lloyd/dev-lloyd-tb.png    1x,
          /img/dev-lloyd/dev-lloyd-tb@2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          /img/dev-lloyd/dev-lloyd-m.png    1x,
          /img/dev-lloyd/dev-lloyd-m@2x.png 2x
        "
        media="(max-width:767px)"
      />

      <img src="/img/dev-lloyd/dev-lloyd-m.png" alt="developer" />
    </picture>
    <h2 class="footer-title">Let's <span class="accent">work</span></h2>
    <h2 class="footer-title footer-title-last">together</h2>
    <form class="footer-form-order">
      <div class="footer-flex">
        <input
          class="footer-input email"
          type="email"
          name="email"
          placeholder="clients@gmail.com"
        />
      </div>
      <div class="footer-flex">
        <input
          type="text"
          name="comments"
          class="footer-input message"
          placeholder="comments"
        />
      </div>
      <button class="footer-button-submit" type="submit">Send</button>
    </form>
    <address class="footer-contact">
      <ul class="footer-contact-navigation">
        <li class="footer-contact-list-item">
          <a href="mailto:lloydjefferson@gmail.com" class="footer-contact-link"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="footer-contact-list-item">
          <a href="tel:+3801111111111" class="footer-contact-link"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>

