<header  class="header header--mobile">
  <div class="container header-container">
  <nav class="header-navigation">
   <div class="main-photo">
     <picture class="photo-logo">
       <source
         srcset="/img/dev-lloyd/dev-lloyd-dsk.png 1x,
         /img/dev-lloyd/dev-lloyd-dsk@2x.png 2x
       "
         media="(min-width:1440px)"
       />
       <source
         srcset="
         /img/dev-lloyd/dev-lloyd-tb.png  1x,
         /img/dev-lloyd/dev-lloyd-tb@2x.png 2x
         "
         media="(min-width:768px)"
       />
            <source
         srcset="
         /img/dev-lloyd/dev-lloyd-m.png 1x,
         /img/dev-lloyd/dev-lloyd-m@2x.png 2x
         "
         media="(max-width:767px)"
       />
       <img
         class="team-photo"
         src="/img/dev-lloyd/dev-lloyd-m.png"
         alt="Dev Lloyd"
       />
     </picture>
    <span class="logo-header">jefferson*</span>
    </div>
  </nav>
    <h2 class="title-menu">Menu</h2>
 <nav class="mobile-menu-navigation">
 <button class="mobile-menu-burger-btn" type="button">
   <svg
     class="mobile-menu-burger-icon"
     width="28"
     height="28"
     aria-label="mobile menu open icon"
   >
   <use href="/img/symbol-defs.svg#icon-mobile-menu"></use>
   </svg>
 </button>
 <a href="#work-together" class="header-btn"> Order the project </a>
 </nav>
 </div>
 <!-- Mobile menu -->
 <div class="mobile-menu-wrapper">
 <div class="container mobile-menu-container">
   <button class="mobile-menu-close-btn" type="button">
     <svg class="mobile-menu-close-btn-icon" width="28" height="28" aria-label="mobile menu close icon">
       <use href="/img/symbol-defs.svg#icon-icon-close"></use>
     </svg>
   </button>
   <nav class="mobile-menu-navigation">
 <div class="menu-container">
 <div class="menu-button"></div>
 <div class="menu menu-open">
 <div class="menu-top">
   <h2 class="title-menu">Menu</h2>
 </div>
 <ul class="mobile-menu">
   <li class="mobile-menu-item"><a class="mobile-menu-link" href="#section-about">About me</a></li>
   <li class="mobile-menu-item"><a class="mobile-menu-link"  href="#container-benefits">Benefits</a></li>
   <li class="mobile-menu-item"><a class="mobile-menu-link" href="#projects-section">Projects</a></li>
   <li class="mobile-menu-item"><a class="mobile-menu-link" href="#faq-section">FAQ</a></li>
 </ul>
 </div>
 </div>
   </nav>
   <a href="#work-together" class="header-btn btn btn-scroll-mobile">Order the project </a>
 </div>
 </div>
 <div class="tablet-menu-wrapper ">
 <div class="container tablet-menu-container ">
 <nav class="tablet-menu-navigation">
 <ul class="tablet-menu">
   <li class="tablet-menu-item"><a class="tablet-menu-link" href="#section-about">About me</a></li>
   <li class="tablet-menu-item"><a class="tablet-menu-link" href="#container-benefits">Benefits</a></li>
   <li class="tablet-menu-item"><a class="tablet-menu-link" href="#projects-section">Projects</a></li>
   <li class="tablet-menu-item"><a class="tablet-menu-link" href="#faq-section">FAQ</a></li>
 </ul>
 </nav>
 </div>

 </div>
 </header>

