<section class="hero-section">
  <div class="hero-container">
    <h1 class="hero-title">
      Hello. <br />I’m Fullstack developer <br />Lloyd Jefferson.
    </h1>

    <ul class="hero-social-list">
      <li class="hero-social-item">
        <a
          class="hero-social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          ><div class="circle-link">IG</div>
        </a>
      </li>

      <li class="hero-social-item">
        <a
          class="hero-social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <div class="circle-link">FB</div>
        </a>
      </li>

      <li class="hero-social-item">
        <a
          class="hero-social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          ><div class="circle-link">YT</div></a
        >
      </li>

      <li class="hero-social-item">
        <a
          class="hero-social-link"
          href="https://github.com/Yuliia-Diachenko/project-Step2_Up"
          target="_blank"
          ><div class="circle-link">GH</div></a
        >
      </li>

      <li class="hero-social-item email-item">
        <a
          class="hero-social-link email-link"
          href="mailto:lloydjefferson@gmail.com"
          ><div class="circle-link email-circle-link">
            lloydjefferson@gmail.com
          </div></a
        >
      </li>
    </ul>
  </div>
</section>
