<section id="projects-section" class="projects-section">

    <div class="projects-container container">

        <h2 class="projects-title">projects</h2>

        <div class="projects-block-slider swiper-container">
            <div class="projects-swiper-wrapper swiper-wrapper">

                <div class="projects-swiper-slide swiper-slide">
                    <ul class="projects-cards slider-first">
                        <li class="projects-item-white">
                            <div class="projects-content-block">
                                <span class="projects-block">#react</span>
                                <span class="projects-block">#js</span>
                                <span class="projects-block">#node js</span>
                                <span class="projects-block">#git</span>
                            </div>

                            <p class="projects-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
                            <a href="https://yuliia-diachenko.github.io/project-Step4_Up/" target="_blank">
                                <button class="projects-btn" type="button">See project</button>
                            </a>
                        </li>

                        <li class="projects-item-black">
                            <img class="projects-img" srcset="/img/projects-cut/Portfolio-first-tbl@2x.jpg"
                                src="/img/projects-cut/Portfolio-first-tbl.jpg" alt="reading a book" width="311"
                                height="195" />
                        </li>
                    </ul>
                </div>

                <div class="projects-swiper-slide swiper-slide">
                    <ul class="projects-cards slider-second">
                        <li class="projects-item-white">
                            <div class="projects-content-block">
                                <span class="projects-block">#react</span>
                                <span class="projects-block">#js</span>
                                <span class="projects-block">#node js</span>
                                <span class="projects-block">#git</span>
                            </div>

                            <p class="projects-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
                            <a href="https://yuliia-diachenko.github.io/project-Step4_Up/" target="_blank">
                                <button class="projects-btn" type="button">See project</button>
                            </a>
                        </li>

                        <li class="projects-item-black">
                            <img class="projects-img" srcset="/img/tablet/petlove-tb@2x.jpg"
                                src="/img/tablet/petlove-tb.jpg" alt="petlove" width="311" height="195" />
                        </li>
                    </ul>
                </div>
                
                <div class="projects-swiper-slide swiper-slide">
                    <ul class="projects-cards slider-third">
                        <li class="projects-item-white">
                            <div class="projects-content-block">
                                <span class="projects-block">#react</span>
                                <span class="projects-block">#js</span>
                                <span class="projects-block">#node js</span>
                                <span class="projects-block">#git</span>
                            </div>

                            <p class="projects-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
                            <a href="https://yuliia-diachenko.github.io/project-Step4_Up/" target="_blank">
                                <button class="projects-btn" type="button">See project</button>
                            </a>
                        </li>
                        
                        <li class="projects-item-black">
                            <img class="projects-img" srcset="/img/tablet/register-tb@2x.jpg"
                                src="/img/tablet/register-tb.jpg" alt="register" width="311" height="195" />
                        </li>
                    </ul>
                </div>
            </div>
            
                <div class="projects-swiper-button-container swiper-button-container">

                    <div class="projects-btn-slider projects-button-slider-prev swiper-button-prev">
                        <svg class="projects-btn-slider-icon" width="24" height="24" aria-label="prev">
                            <use href="/img/symbol-defs.svg#icon-arrow-right-white"></use>
                        </svg>
                    </div>

                    <div class="projects-btn-slider projects-button-slider-next swiper-button-next">
                        <svg class="projects-btn-slider-icon " width="24" height="24" aria-label="next">
                            <use href="/img/symbol-defs.svg#icon-arrow-right-white"></use>
                        </svg>
                    </div>
                </div>
        </div>       
    </div>
</section>