<section class="section-reviews">
  <div class="container reviews-container">
    <div class="reviews-wrapper">
      <h2 class="reviews-title">Reviews</h2>
      <!-- <div class="swiper swiper-reviews"> -->
        <div class="swiper swiper-reviews">
          <div class="reviews-gallery swiper-wrapper"></div>
          <div class="swiper-btn-container">
            <div class="reviews-btn-prev swiper-button-prev">
              <svg
                class="swiper-icon-left"
                width="24"
                height="24"
                aria-label="prev"
              >
                <use href="./img/symbol-defs.svg#icon-arrow-right-white"></use>
              </svg>
            </div>
            <div class="reviews-btn-next swiper-button-next">
            <svg
              class="swiper-icon-right"
              width="24"
              height="24"
              aria-label="prev"
            >
              <use href="./img/symbol-defs.svg#icon-arrow-right-white"></use>
            </svg>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
</section>







