.footer {
  background-color: var(--background);
  color: var(--main-text);
}
.footer-container {
  max-width: 375px;
  margin: 0 auto;
  padding: 64px 16px 32px 16px;
}
.footer-logo {
  border-radius: 12px;
  border: none;
  width: 44px;
  height: 44px;
  float: left;
  margin-right: 8px;
}
.footer-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  width: 279px;
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 7px;
}
.accent {
  color: var(--coral-button);
}
.footer-title-last {
  padding-bottom: 63px;
}
.footer-form-order {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 63px;
}
.footer-input {
  background-color: transparent;
  outline: none;
  color: var(--text-grey-all);
  max-width: 290px;
  border: none;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--text-grey-benefits);
}
.footer-input:hover,
.footer-input:active {
  background-color: transparent;
  color: var(--text-grey-all);
}
.footer-button-submit {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background: var(--coral-button);
  color: var(--main-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: -0.02em;
  text-align: center;
}
.footer-button-submit:hover {
  background-color: var(--hover-btn-prj);
}
.footer-contact {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  text-align: left;
}
.footer-contact-navigation {
  display: flex;
  gap: 4px;
}
.footer-contact-link {
  border: 1px solid var(--text-grey-benefits);
  border-radius: 60px;
  padding: 10px 12px;
  font-style: normal;
}
label.success-label {
  font-size: 14px;
  padding-top: 4px;
  color: var(--green);
}
.email.success-label {
  border-bottom: 1px solid var(--green);
}
label.error-label {
  font-size: 14px;
  padding-top: 4px;
  color: var(--red);
}
.email.error-label {
  border-bottom: 1px solid var(--red);
}
@media screen and (min-width: 768px) {
  .footer-container {
    max-width: 768px;
    padding: 128px 32px 169px 32px;
  }
  .footer-logo {
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }
  .footer-title {
    font-size: 64px;
    line-height: 1;
    width: 500px;
  }
  .footer-form-order {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
    margin-bottom: 78px;
  }
  .footer-flex {
    display: flex;
    flex-direction: column;
    height: 66px;
  }
  .footer-input {
    max-width: 245px;
  }
  .footer-button-submit {
    width: 150px;
    height: 150px;
  }
  .footer-contact {
    font-size: 16px;
    line-height: 1.1875;
  }
  .footer-contact-navigation {
    gap: 6px;
  }
  .footer-contact-link {
    padding: 18px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-container {
    max-width: 1440px;
    padding: 162px 196px 169px 196px;
  }
  .footer-form-order {
    justify-content: space-between;
    font-weight: 500;
  }
  .footer-input {
    max-width: 390px;
  }
}
