.modal-window {
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 16, 0.6);
    transform: translateX(100%);
    margin: 0 auto;
}
.modal-window.is-open {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(0%); 
}
.modal-container {
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 20px;    
    margin: 0 auto;
    background-color: var(--background);
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%) scale(1);   
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-close {
    fill: black;
    color: var(--main-text); 
    border: none;
    position: absolute;
    top: 20px; 
    right: 20px;
    width: 20px;
    height: 20px; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    background-color: var(--background); 
    padding: 0; 
    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.text-content {
    display: flex;
    flex-direction: column;
    gap: 16px;    
}
.modal-title {    
    font-weight: 600;
    font-size: 20px;
    line-height: 30px; 
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--main-text);
}
.modal-text {    
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--text-grey-all);
}
/* --------------------------- mobile  ----------------------------- */
@media screen and (max-width: 767px) {
    .modal-container {        
        width: 343px;
        min-height: 276px;
        padding: 64px 32px;
    }      
    .text-content {
        max-width: 279px;
        min-height: 148px;
    }
}
/* --------------------------- /mobile  ----------------------------- */
/* ------------------------ tablet modal  ---------------------------- */
@media screen and (min-width: 767px) {
    .modal-container {        
        width: 492px;
        height: 246px;
        padding: 64px;
    }       
    .text-content {
        width: 364px;
        height: 118px;
        }
}
