/* mobile  */

.projects-section{
    max-width: 100%;
    padding: 16px;
    padding-bottom: 32px;
    padding-top: 32px;
}

.projects-container{
    max-width: 343px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.projects-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--text-grey-webs);
    padding-bottom: 32px;
    padding-top: 5px;
} 

.projects-cards{
    width: 100%;
    margin-bottom: 30px;
}

.projects-item-white{
    background: var(--main-text);
    border-radius: 24px 24px 0 0;
} 

.projects-content-block{
    max-width: 279px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 6px;                
    margin: 0 auto;
    padding-top: 32px;
    margin-bottom: 96px;
    box-sizing: border-box;
}

.projects-block{
    border: 1px solid var(--border-prj);
    border-radius: 60px;
    padding: 13px 18px;
    box-sizing: border-box;
    color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.projects-text{
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: var(--background);
    margin-left: 20px;
    margin-bottom: 30px;
    max-width: 279px;
}

.projects-btn{
    border-radius: 60px;
    padding: 13px 32px;
    width: 142px;
    height: 45px;
    background: var(--coral-button);
    border: none;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: var(--main-text);
    margin: 0 170px 32px 20px;
}

.projects-btn:hover,
.projects-btn:focus{
    background: var(--hover-btn-prj);
}
        
.projects-item-black{
    background: var(--bgr-card-prj);
    border-radius: 0 0 24px 24px;
    width: 100%;
    padding: 100px 16px;
}

.projects-img{
    width: 311px;
    height: 195px;
    margin: auto;
}

     /* slider */

.projects-swiper-button-container.swiper-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
    width: 116px;
    margin: 0 auto;
}

.projects-btn-slider{
    border-radius: 50px;
    padding: 14px;
    width: 52px;
    height: 52px;
    background-color: transparent;
    margin: 0 auto;
    top: 50%;
    gap: 12px;    
}

.projects-button-slider-prev{
    border: 1px solid var(--modal-background);
}

.projects-button-slider-next{
    border: 1px solid var(--main-text);
}

.projects-button-slider-prev{
    transform: rotate(-180deg);
}    

.projects-block-slider.swiper-container {
    overflow: hidden;
    transition: opacity 0.3s;
}


@media screen and (min-width:320px) and (max-width:375px){

.projects-container{
    padding: 16px;
    max-width: 320px;
}
}

        /* tablet */

@media screen and (min-width:768px){
    .projects-section {
        padding-bottom: 48px;
        padding-top: 48px;
    }
.projects-container{
    max-width: 704px;
}
    
.projects-cards{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}
    
.projects-content-block{
    max-width: 322px;
    margin: 0;
    margin-bottom: 160px;
    margin-left: 50px;
}
    
.projects-text{
    margin-left: 50px;
    font-size: 44px;
    line-height: 1;
    max-width: 494px;
}
    
.projects-btn{
    margin-left: 50px;
    margin-bottom: 80px;
}
    
.projects-img{
    width: 614px;
    height: 385px;
}

 /* slider */

.projects-btn-slider{
    padding: 18px;
    width: 68px;
    height: 68px;
}

.projects-swiper-button-container.swiper-button-container{
    gap: 16px;
}

.projects-btn-slider-icon{
    width: 32px;
    height: 32px;
} 
}

       /* desktop */

@media screen and (min-width: 1440px){
    .projects-section {
        padding-top: 82px;
        padding-bottom: 82px;
    }
.projects-container{
    max-width: 1376px;
}

.projects-title{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

.projects-cards{
    border-radius: 24px;
    display: flex;
    flex-direction: row;
}

.projects-item-white{
    width: 688px;
    border-radius:  24px 0 0 24px;
}

.projects-item-black{
    width: 688px;
    border-radius: 0 24px 24px 0;
}

.projects-btn{
    padding: 18px 50px;
    width: 177px;
    height: 55px;
}
}