/* Reset styles */
:root {  
  --lightgreen: #C6E327;
  --green: #3CBC81;
  --red: #E74A3B;
  --aquamarine: #0041E8;  
  --background: #1C1D20;
  --modal-background: #3B3B3B;
  --litegray: #2B4441;
  --main-text: #FAFAFA;
  --text-grey-modal: #D9D9D9;
  --hover-btn-prj: #e0373f;
  --coral-button: #ED3B44;  
  --carrot: #E6533C;
  --liteorange: #FF7F08;
  --bgr-card-prj: #242527; 
  --border-prj: rgba(28, 29, 32, 0.2);
  --text-grey-webs: rgba(250, 250, 250, 0.4);
  --text-grey-all: rgba(250, 250, 250, 0.6);
  --text-grey-benefits: rgba(250, 250, 250, 0.2); 
  --covers-bgr: rgba(217, 217, 217, 0.04); 
  --background-color: #1C1D20;
  color-scheme: dark; 
    
  }
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--main-text);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* ------------- theme  ------------ */
.light-theme {
  --background-color:#827e7e;
  color-scheme: light;
}

.theme {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  fill: var(--text-grey-webs);
}

/* --------- theme  ------------ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--text-grey-modal);
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}